SECURITY_USERNAME=admin
SECURITY_PASSWORD=your_password_here

SERVER_HOST=127.0.0.1
SERVER_PORT=8761
SPRING_PROFILES_ACTIVE=prod

CONFIG_SERVER_URI=http://host.docker.internal:8888
CONFIG_SERVER_USERNAME=admin
CONFIG_SERVER_PASSWORD=your_password_here

RABBITMQ_HOST=host.docker.internal
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=your_password_here
